
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.tagline-other .feature-text {
    color: #fff;
    font-size: 5.75rem;
    font-weight: 900;
    text-shadow: 0 0 20px rgba(40,40,55,0.95);
    text-align: center;
}

.feature-text-small {
    color: #fff;
    cursor: default;
    text-align: center;
    font-size: 1.7em;
    font-weight: 400;
    line-height: 3.7em;
    font-weight: 400;
    text-shadow: 2px 2px 2px rgba(40,40,55,0.75);
    margin-top: 0;
    text-align: center;
    width: 100%;
    cursor: default;
}

.logo-image-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.top-bar-header {
    position: relative;
    background: $white;
    padding: 1em;
    height: 100px;
    width: 100%;
}

.sub-nav {
    display: block;
    margin: -.25rem 0 1.125rem;
    overflow: hidden;
    width: auto;
    background-color: #f2f2f2;
    padding: 5px 5px 5px 0 !important;
    border-radius: 10px;
}

.top-bar-container,.tab-bar {
    margin-bottom: 1rem;
}

p#breadcrumbs.breadcrumbs {
    border-style: none;
    border-width: 0;
    display: block;
    list-style: none;
    margin-left: 0;
    margin-bottom: 1em;
    margin-top: 2em;
    overflow: hidden;
    padding: .5625rem .875rem;
    background-color: #FFF;
    border: 0;
    border-radius: 0;
}

p#breadcrumbs.breadcrumbs span {
    margin-left: 2em;
    margin-right: 2em;
}

#featured-hero-small {
    height: 200px;
/*	margin-bottom: 100px;*/
}

#featured-hero {
    height: 100%;
}

.feature-text {
    cursor: default;
    color: #FFF;
    font-size: 7.75rem;
    font-weight: 900;
    text-shadow: 0 0 20px rgba(40,40,55,0.95);
    line-height: 55px;
    margin-top: .5em;
    text-align: center;
}

h2 .jet {
    color: $jet;
}

h3 .jet {
    color: $jet;
}

ul#menu-product-categories li a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

ul#menu-product-categories li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
    height: 4px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

ul#menu-product-categories li a:hover:before,ul#menu-product-categories li a:focus:before,ul#menu-product-categories li a:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

ul#menu-product-categories {
    background-color: $weed;
    text-align: center;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1.0625rem;
    margin-left: -1.375rem;
    margin-right: 0;
    overflow: hidden;
    padding: 0;
}

ul#menu-product-categories {
    background-color: #2ecc71;
    text-align: center;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1.0625rem;
    margin-left: -1.375rem;
    margin-right: 0;
    overflow: hidden;
    padding: 0;
    width: 300px;
}

ul#menu-product-categories>li {
    display: block;
    list-style: none;
    margin-left: 1.375rem;
}

ul#menu-product-categories>li {
    display: inline;
    list-style: none;
    margin-left: 1.375rem;
}

ul#menu-product-categories>li>* {
    display: block;
}

ul#menu-product-categories li a {
    color: $white;
    font-size: .9em;
}

ul#menu-product-categories li a:hover {
    color: $ghost;
}

.soliloquy-container .soliloquy-next {
    display: none !important;
}

.soliloquy-container .soliloquy-prev {
    display: none !important;
}

.soliloquy-container .soliloquy-pager {
    display: none !important;
}

.soliloquy-caption {
    display: none !important;
}

#featured-hero {
    z-index: 99;
    position: absolute;
    width: 100%;
}

#featured-hero-small {
    z-index: 99;
    position: absolute;
    width: 100%;
}

li .logged-out-user {
    margin-left: 100px;
}

// BODY
.pushbutton-wide {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: Raleway;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem 1.0625rem;
    font-size: 1rem;
    background-color: #008CBA;
    border-color: #007095;
    color: #fff;
    width: 100%;
    transition: background-color 300ms ease-out;
}

.address {
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: #f2f2f2;
    color: #333;
}

#faq h3 {
    margin-bottom: 0;
}

ul#menu-copyright-menu li {
    text-align: center;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    list-style-type: none;
    font-size: .95em;
    text-transform: uppercase;
    font-weight: 600;
}

ul.social-widget-menu {
    bottom: 100px;
    right: 150px;
    width: 300px;
    display: inline-block;
    text-align: right;
}

ul#menu-copyright-menu li a:hover {
    color: rgba(255,255,255,1);
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25sease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

#nav-menu-4 ul {
    list-style-type: none;
}

#nav-menu-4 ul li a {
    color: #fff;
}

#nav-menu-4 ul li a:hover {
    color: #fff;
}

.copyspan {
    color: rgba(255,255,255,0.71);
    text-align: center;
    display: inline-block;
    list-style-type: none;
    font-size: .75em;
    text-transform: uppercase;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    bottom: 0;
}

ul#menu-product-categories-1 {
    list-style-type: none;
    margin-left: 0;
}

#footerNavMenu {
    position: relative;
    display: block;
    padding-top: 1em;
}

ul#menu-product-categories-1 li a {
    color: #fff;
    font-size: .8em;
}

ul#menu-copyright-menu li a {
    font-family: raleway;
    color: rgba(255,255,255,0.75);
    font-weight: 400;
    letter-spacing: .3em;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

ul#menu-copyright-menu li:hover {
    color: rgba(255,255,255,0.75);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

h2.header-rotate {
    color: #fff;
    font-size: 2.3em;
}

#rotate {
    position: absolute;
    top: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
}

#faqs {
    position: relative;
}

#faqs h3 {
    cursor: pointer;
    line-height: 2em;
    margin-bottom: 0;
}

#faqs h3.active {
    color: #0E0E0E;
}

#faqs div {
    position: relative;
}

#faqs div p {
    padding: 0;
    margin-bottom: 1em;
}

#faqs h3.active:before {
    color: #0E0E0E;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

#faqs h3:before {
    content: "+";
    position: relative;
    display: inline-block;
    bottom: .1em;
    font-size: 150%;
    float: left;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.expand-inner {
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    padding: 1em;
    margin-bottom: 1em;
}

.large-heading {
    font-size: 5.875rem;
}

.medium-heading {
    font-size: 2.75rem;
}

#recent-posts-2 ul li {
    line-height: 1em;
    margin-left: -10px;
}

#recent-posts-2 ul li a {
    color: #fff;
    font-size: 70%;
    margin: 0;
    padding: 0;
    border-bottom: 1px dotted rgba(255,255,255,.25);
}

.widget a:hover {
    font-weight: 600 !important;
}

.widgetsFooter {
    margin-top: 50px;
    padding-bottom: 2em;
    color: #fff;
}

body.widgetsFooter {
    color: #fff;
}

h5.eeod-quote {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-weight: 800;
    letter-spacing: .15em;
    font-size: 4.1vh;
/* position: absolute; */
    z-index: 99;
/* bottom: 80px; */
    font-family: raleway;
    color: rgba(0,0,0,0.36);
}

.footer-widget-area {
    border-bottom: 1px solid rgba(255,255,255,0.2);
    text-align: center;
}

.footer-widget-area p {
    font-size: 1em;
    line-height: 1.4;
    text-align: center;
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
}

h5.footerWidgetIcons {
    margin-top: 30px;
}

#recent-posts-2 ul {
    list-style-type: none;
}

#recent-posts-2 ul li a {
    color: #fff;
    font-size: 70%;
}

.tagcloud a {
    font-size: 80%;
    color: #fff;
    text-align: left;
}

ul.product-categories li a {
    color: #fff;
    text-align: left;
    font-size: 1em;
}

ul.product-categories li {
    color: #fff;
    text-align: left;
    font-size: 1em;
}

img.about-us-image {
    border-radius: 25px;
    float: left;
    margin: 1em;
}

.raleway {
    font-family: 'Raleway',sans-serif;
}

#logo img {
    position: absolute;
    top: 0;
    left: 100px;
    max-height: 135px;
    overflow: visible;
    z-index: 999;
}

a.label {
    color: $white;
}

a.label:hover {
    color: $ghost;
}

.top-bar-container,.tab-bar {
    margin-bottom: 0;
}

ul li ul,ul li ol {
    list-style-type: none;
}

.widget_product_tag_cloud h6 {
    display: none;
}

.jetpack-image-container {
    margin-bottom: -2em;
    opacity: .15;
}

#how-it-works {
    margin-top: 2em;
    margin-bottom: 50px;
}

#what-we-do {
    margin-top: 3em;
}

.weed-logo {
    position: absolute;
    opacity: .05;
    top: 650px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
/* top: 10px; */
    width: 100%;
    left: 600px;
}

.weed-logo-2 {
    position: absolute;
    opacity: .05;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 100%;
}

.weed-logo-3 {
    position: absolute;
    opacity: .05;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 100%;
}

.top-bar-container,.tab-bar {
    margin-bottom: 1rem;
/*border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.07);*/
}

.top-bar-container,.tab-bar {
    margin-bottom: 0 !important;
}

.sub-nav-container {
    margin: 0 auto;
    width: 100%;
}

.center {
    text-align: center;
}

i.frontpage-icons {
    color: #222;
}

p.p-boxes {
    text-align: justify;
    padding: 0;
    padding-top: 0;
    margin-bottom: 0;
    font-size: .9em;
}

a.information-link {
    font-size: .75em;
    float: left;
}

a.information-link:hover {
}

h3.front-boxes {
    text-align: center;
    font-weight: 800;
    color: $weed;
    font-size: 3.3125rem;
}

.tiny-expand {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.button.secondary {
    background-color: #008CBA;
    border-color: #007095;
    color: #fff;
}

h2.front-boxes {
    cursor: pointer;
    text-align: center;
    font-weight: 800;
    color: $weed;
    font-size: 3.3125rem;
}

.icon-container i {
    font-size: 5em;
}

.icon-container {
    text-align: center;
}

.service {
    overflow: hidden;
    margin-bottom: 10px;
    padding: 15px 15px 10px;
}

.service .desc {
    padding: 0 15px;
    overflow: hidden;
}

.service .service-icon {
    float: left;
    padding: 10px;
    color: #72c02c;
    font-size: 35px;
    text-align: center;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

// FOOTER FOOTER FOOTER
#second-footer {
    text-align: center;
    position: relative;
    z-index: 88;
    display: block;
/* position: absolute; */
    height: 150px;
/* padding-top: 2em; */
    background-color: #008CBA;
    width: 100%;
/* bottom: 60px; */
/* margin-bottom: -50px; */
/* padding-top: 2em; */
/* bottom: 0; */
/* color: white; */
}

#third-footer {
    position: relative;
    z-index: 88;
    display: block;
}

.flag-image-container {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.flag-image-container img {
    float: left;
    opacity: .5;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#footer .widget {
    z-index: 10;
}

#footer .widget p {
    font-size: .7em;
}

.footer-nav {
    padding-top: 1em;
}

h5.widget {
    color: #fff;
    font-weight: 800;
    text-align: left;
    font-size: 1.625rem;
}

.widget h5 {
    color: #fff;
    font-weight: 600;
    text-align: left;
    font-size: 1.225rem;
}

#our-mission {
    margin-bottom: 120px;
}

.widgetsFooter .widget {
    text-align: left;
    border-left: 1px solid rgba(255,255,255,0.2);
    color: #fff;
}

.medium-4 h4 {
    color: #fff;
    font-weight: 600;
    font-size: 1.625rem;
    margin-top: -15px;
}

.widgetsFooter .widget {
    padding-left: 1em;
    padding-right: 1em;
}

.footerWidgetIcons i {
    margin-right: .5em;
    font-size: 1.3em;
    float: left;
}

.footer_menu_class .menu {
    background: rgba(255,255,255,0);
}

#footer-logo img {
    position: absolute;
    left: 0;
    bottom: -100px;
}

#footer-logo {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    bottom: -30px;
    opacity: .25;
}

#footer-container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    border-top: 0;
    background-color: $secondary-color;
}

.prefix.button {
    background: $secondary-color;
}

#footer-container #footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer_menu_class .menu {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #fff;
    padding: 5px 5px 5px 0 !important;
    border-radius: 0;
}

.footer_menu_class .menu > li {
    display: block;
    list-style: none;
}

ul#menu-copyright-menu.menu>li {
    display: inline-block;
    float: none;
    list-style: none;
    margin-left: 1.22222rem;
}

.footer_menu_class .menu {
    background: rgba(255,255,255,0);
}

.footer_menu_class .menu {
    background: rgba(255,255,255,0);
}

#sidebar.panel {
    background: $white;
/* box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px; */
}

#sidebar {
    border-right: 1px solid rgba(0,0,0,0.3);
}

#sidebar .sticky-sidebar {
    top: 500px;
    min-height: 100%;
    height: 600px;
}

#sidebar-cart {
    float: right;
}

#sidebar-woo {
    position: fixed;
    top: 200px;
    right: 10px;
    margin-top: 100px;
    float: right;
}

#sidebar-cart.panel {
    background: $white;
    box-shadow: rgba(0,0,0,0.2) 0 2px 2px;
}

#sidebar input[type="submit"] {
    display: none;
}

// WIDGETS WIDGETS WIDGETS
.widget_wpcom_social_media_icons_widget {
    height: 60px;
    position: absolute;
    width: 100%;
/* padding-top: 20px; */
    margin-top: 30px;
    border-left: 0 !important;
}

.widget_wpcom_social_media_icons_widget .genericon {
    font-family: 'Genericons';
    font-size: 200% !important;
}

.widget_wpcom_social_media_icons_widget li {
    border: 0 none;
    display: inline;
    margin-right: 1em;
    margin-left: 1em;
}

.front-page-button-div {
    width: 100%;
    text-align: center;
    position: absolute;
/*bottom: 150px;*/
}

.front-page-button-sign-up {
    margin-right: auto;
    margin-left: auto;
    width: 150px;
    margin: 0;
}

.front-page-button {
    margin-right: auto;
    margin-left: auto;
    margin: 0;
    width: 250px;
    box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
    -moz-box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
    font-weight: 700;
}

a.front-page-button {
    font-size: 1em;
}

.header-wrapper {
    position: relative;
    min-height: 200px;
    background-image: url(http://localhost/eeod/wp-content/uploads/2015/10/marijuana-11.jpg);
}

#loadingHeader {
    position: relative;
}

.hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #007095;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.front-boxes i {
    font-size: 1.3em;
    color: rgba(46,204,113,0.7);
}

.paymentIcons {
    background: #fff;
    width: 100%;
    text-align: center;
/* text-align: center; */
    display: block;
    position: relative;
    margin-bottom: 1em;
}

#what-we-do h1 {
    font-size: 4em;
}

.paymentIcons-footer li i {
    color: rgba(255,255,255,0.5);
}

.paymentIcons-footer li i:hover {
    color: rgba(255,255,255,1);
}

.paymentIcons-footer ul.headerIcons li {
    font-weight: 600;
    font-size: 1.25em;
    font-size: 1.8vw;
    color: rgba(255,255,255,0.6);
    display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
}

#nav-menu-4 ul li a {
    font-size: .7em;
}

.paymentIcons-footer {
    position: absolute;
    padding-top: 1em;
    padding-bottom: 1em;
    background: #222;
    width: 100%;
    bottom: 0;
    text-align: center;
/* text-align: center; */
    display: block;
    position: relative;
}

ul.headerIcons {
    list-style-type: none;
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

hr.lineClass {
    margin: 0;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.widget_wpcom_social_media_icons_widget a.genericon {
    color: rgba(255,255,255,0.6);
    font-size: 1.5em;
}

.widget_wpcom_social_media_icons_widget a.genericon:hover {
    color: rgba(255,255,255,1);
}

ul.headerIcons li {
    font-weight: 600;
    font-size: 3em;
    font-size: 2.5vw;
    color: rgba(0,140,186,0.5);
    display: inline-block;
    padding-left: 2.8vw;
    padding-right: 2.8vw;
}

ul.headerIcons li:hover {
    color: #007095;
    -o-transition: color .5s ease-in-out;
    -ms-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -webkit-transition: color .5s ease-in-out;
/* ...and now for the proper property */
    transition: color .5s ease-in-out;
}

.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.button-div {
    width: 100%;
    text-align: center;
}

.top-bar-container {
    border-bottom: 1px solid rgba(170,170,170,0.3);
    z-index: 999;
}

a.page-button.button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 505px;
    box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
    -moz-box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
    font-weight: 700;
    font-size: 2em;
}

h5.jet {
    color: $jet;
    font-size: 1.525rem;
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-align: justify;
}

#sign-up h2 {
    font-size: 3em;
    font-weight: 400;
}

.hvr-icon-down:before {
    content: "\f25a";
    position: absolute;
    right: .5em;
    font-size: 1.3em;
}

.hvr-icon-rotate:before {
    content: "\f091";
}

.hvr-icon-wobble-horizontal:before {
    content: "\f07a";
}

.hvr-icon-wobble-horizontal:before {
    content: "\f07a";
}

.hvr-icon-rotate:before {
    content: "\f006";
}

/* Newsletter*/
#newsletter {
    padding: 20px 0;
    background: #085a78;
    padding: 10px 0;
}

#newsletter h5 {
    font-size: 20px;
    font-family: "OpenSans","Helvetica Neue","Helvetica",Arial,Verdana,sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    line-height: 24px;
}

#newsletter p {
    clear: both;
    font-size: 13px;
    padding-top: 2px;
    color: #fff;
/* float: right; */
}

#newsletter a {
    color: #fff;
}

#newsletter .margintop-20px {
    margin-top: 20px;
}

#newsletter .row.collapse form input[type="text"] {
    font-size: 17px;
    font-weight: 200;
    color: #999;
    border: 0;
}

#newsletter .row.collapse form .button {
    border: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #257696;
}

#newsletter .row.collapse form .button:hover {
    background: #1b566d;
}

ul.legal-links {
    text-align: center;
    list-style-type: none;
}

ul.legal-links li {
    display: inline-block;
    font-size: 2em;
    padding-left: 2em;
    padding-right: 2em;
    text-align: left;
}

.footer-widget-area medium-4 {
    margin-top: 30px;
}

.eye-con {
    color: #fff;
    font-size: 4em;
    margin: 0;
    padding: 0;
    text-align: center;
}

.weed-logo-4 {
    position: absolute;
    opacity: .05;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 100%;
    top: 300px;
    left: 60%;
}

.top-bar-section .has-dropdown>a:after {
    right: -1rem;
}

.top-bar-section .dropdown li a {
    font-weight: 400;
    font-size: 1.1em !important;
    line-height: 2em !important;
}

#sidebar-right {
    top: 200px;
    right: 0;
    position: fixed;
    background: #fff;
    min-height: 300px;
    text-align: right;
    right: 0;
}

#sidebar-right ul.product-categories li a {
    color: $main-blue;
    text-align: right;
    border-bottom: 1px dotted rgba(0,0,0,0.6);
    font-size: .85em;
}

#sidebar-right ul.product-categories li span {
    color: rgba(0,0,0,0.6);
    text-align: right;
    font-size: .6em;
    font-weight: 700;
}

#sidebar-right ul.product-categories li {
    color: #fff;
    text-align: right;
    font-size: 1em;
/* padding-right:1em; */
}

#sidebar-right h6 {
    font-size: 1.5em;
    font-weight: 700;
}

.sidebar-left-container {
    position: absolute;
    left: 0;
    min-height: 100%;
    height: auto !important;
/* This line and the next line are not necessary unless you need IE6 support */
    height: 100px;
    width: auto;
    margin: 0 auto -155px;
}

#sidebar-left {
    width: 250px;
    min-height: 100%;
    height: auto !important;
    z-index: 1;
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-top: 200px;
}

.sticky-sidebar {
    position: relative;
    top: 0;
}

.main-content {
    position: relative;
    overflow: visible;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: auto;
    margin-right: auto;
}

#sidebar-left ul.product-categories li a {
    color: $main-blue;
    text-align: left;
    border-bottom: 1px dotted #222;
    font-size: .75em;
}

#sidebar-left ul.product-categories li span {
    color: rgba(0,0,0,0.6);
    text-align: left;
    font-size: .9em;
    font-weight: 700;
}

#sidebar-left h6 {
    font-size: 1.5em;
    font-weight: 700;
}

ul.top-login-area {
    position: absolute;
    right: 0;
    height: 100%;
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    list-style-type: none;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 3em;
}

ul.top-login-area li {
    display: inline-block;
    padding-left: .25em;
    padding-right: .25em;
}

label {
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 400;
    line-height: 2.5;
    margin-bottom: 0;
}

ul.top-login-area li label {
    border-radius: 5px;
}

.top-login-bar {
    -webkit-backface-visibility: hidden;
    background: #333;
    color: #FFF;
    position: absolute;
    right: 0;
    top: 0;
    height: 2.8125rem;
    line-height: 2.8125rem;
    position: relative;
    z-index: 300;
}

#featured-hero {
    z-index: 100;
    position: absolute;
    width: 100%;
/* height: 100%; */
    margin-top: 56px;
}

.tagline {
    top: 100px;
    width: 100%;
    height: 20rem;
    position: absolute;
    padding: 0;
}

ul.newsletter-group {
    margin-top: 1em;
}

ul.newsletter-group li a {
    height: 37px;
    line-height: .5;
    background: $main-blue;
}

ul.newsletter-group li a:hover {
    height: 37px;
    line-height: .5;
    background: $main-darkblue;
}

.view-height {
    height: 50vh;
    width: 100%;
}

.tiny a {
    color: #fff;
}

/* LoginOut Modal */
.loginout-modal-style {
    max-width: 22.5rem;
    right: 0;
    min-height: 350px;
}

.remember-label {
    font-size: .85em;
    font-weight: 400;
    margin-left: 0;
}

table tr.even,table tr.alt,table tr:nth-of-type(even) {
    background: #FFF;
}

.lwa-loading {
    left: 0;
    top: 0;
}

.loginout-modal-style input[type="file"],.loginout-modal-style input[type="checkbox"],.loginout-modal-style input[type="radio"],select {
    margin-left: 0 !important;
    margin-top: 0 !important;
}

[id^="contact-form-comment-"] {
    height: 200px !important;
}

.lwa {
    margin-bottom: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    list-style: none;
    overflow: hidden;
    position: relative;
    
}

.woocommerce div.product .woocommerce-tabs .panel {
    margin: 0 0 2em;
    padding: 1em;
    background: #fafafa;
    border: 0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0 0 0 50px;
    border: 1px solid #e4e1e3;
    background: #fff;
    border-radius: 4px;
    padding: 1em 1em 0;
}

.woocommerce-tabs .panel {
    background: #fff;
}

.woocommerce-tabs .panel p {
    padding-left: 1.3em;
    padding-right: 1.3em;
    border: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    list-style: none;
/* padding:0 0 0 1em; */
/* margin:0 0 1.618em; */
    overflow: hidden;
    position: relative;
}

.products .product .add-to-cart-button {
    position: absolute;
    background: rgba(0,0,0,0.85);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #f7f7f7;
    padding: 1.618em;
    text-align: center;
    opacity: 0;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
    transition: all ease .4s;
}

/* Show the that was setup above when the user hovers*/
ul.products li.product:hover .add-to-cart-button {
    opacity: 1;
}

ul.products li.product a img:hover {
    opacity: .9;
}

.woocommerce .star-rating span:before {
    color: #ffd700 !important;
}

.star-rating:before {
    color: #ffd700 !important;
}

.woocommerce ul.products li.product .star-rating {
    font-size: 1.257em;
}

.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 0;
/* margin-top: -10px; */
    float: right;
}

.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 1em;
}

.woocommerce #respond input#submit,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button {
    font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    font-family: inherit;
    text-decoration: none;
    overflow: visible;
    padding: .618em 1em;
    font-weight: 700;
    border-radius: 3px;
    border: 2px solid rgba(255,255,255,0.5);
    left: auto;
    color: rgba(255,255,255,0.5);
    background-color: rgba(235,233,235,0);
/* border: 0; */
    white-space: nowrap;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
}

.woocommerce #respond input#submit,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button {
    font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    font-family: inherit;
    text-decoration: none;
    overflow: visible;
    padding: .618em 1em;
    font-weight: 700;
    border-radius: 3px;
    border: 2px solid rgba(255,255,255,0.5);
    left: auto;
    color: rgba(255,255,255,0.5);
    background-color: rgba(235,233,235,0);
/* border: 0; */
    white-space: nowrap;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
}

.woocommerce #respond input#submit:hover,.woocommerce a.button:hover,.woocommerce button.button:hover,.woocommerce input.button:hover {
    background-color: rgba(235,233,235,0);
    text-decoration: none;
    background-image: none;
    color: #fff;
}

.woocommerce ul.products li.product .price {
    color: rgba(255,255,255,1);
    display: block;
    font-weight: 300;
    margin-bottom: .5em;
    font-size: 1.457em;
    vertical-align: bottom;
    margin-top: 1.5em;
}

.woocommerce div.product div.images img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.5);
/* box-shadow: none; */
    border: 1px solid rgba(46,204,113,0.85);
    border-radius: .4em;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {

/* border-top: 1px solid black; */
    background-color: #ebe9eb;
    display: inline-block;
    position: relative;
    z-index: 0;
/* overflow: hidden; */
    border-radius: 0;
    margin: 0 -3px;
    padding: 0 1em;
/* padding-bottom: 10px; */
}

.wc-tab h2 {
    color: #444;
    font-weight: 400;
}

.woocommerce #reviews #comments h2 {
    clear: none;
    color: #444;
    font-weight: 400;
}

.woocommerce ul.products li.product .button {
    margin-top: 3em;
}

.woocommerce ul.products li.product h3 {
    padding: 0;
    margin: 0;
    font-size: 1.6em;
    color: #000;
    font-weight: 300;
    text-align: center;
        border-bottom: 3px solid #085a78;
}

.woocommerce ul.products li.product,.woocommerce-page ul.products li.product {
    margin: 0 2.4% 1.292em 0;
}

.woocommerce ul.products li.product a img {
    margin-bottom: 0;
}

.woocommerce ul.products li.product,.woocommerce-page ul.products li.product {
    width: 30.75%;
/*border-bottom: 5px solid black;*/
}

.contain-to-grid .top-bar {
    margin: 0 auto;
    margin-bottom: 0;
    max-width: 100%;
}

ul.top-login-area li {
    display: inline-block;
    padding-left: .55em;
    padding-right: .55em;
    line-height: 3.4375rem;
/* padding: 0 1.71875rem; */
    margin-right: 20px;
}

ul.top-login-area li a {
    color: #2098d1;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25sease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

ul.top-login-area li a:hover {
    color: $main-darkblue;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25sease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

p#breadcrumbs.breadcrumbs span:last-child {
    margin-left: 2em;
    margin-right: 2em;
    color: #222;
}

td.label {
    background-color: #FFF;
    color: #fff;
}

.woocommerce div.product p.price,.woocommerce div.product span.price {
    color: #333;
    font-size: 2.15em;
    font-weight: 800;
}

.woocommerce .star-rating span {
    overflow: hidden;
    float: left;
/* display: none; */
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 2.5em;
}

.woocommerce .woocommerce-product-rating .star-rating {
    margin: .5em 4px 0 0;
    float: none;
}

ul.top-login-area {
    width: auto;
}

.woocommerce .star-rating {
    float: none;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    font-size: 1.5em;
    width: 5.4em;
    font-family: star;
}

.woocommerce div.product div.images img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.5);
/* box-shadow: none; */
    border: 1px solid rgba(46,204,113,0.85);
    border-radius: .4em;
}

table {
    background: rgba(255,255,255,0);
    border: solid 1px #ddd;
    margin-bottom: 1.25rem;
    table-layout: auto;
}

.woocommerce-tabs .panel p {
    padding-left: 1.3em;
    padding-right: 1.3em;
    border: 0;
    color: #666;
}

a.woocommerce-review-link {
    color: $main-blue;
    line-height: 2;
    font-size: 80%;
}

.breadcrumbs>* a {
    color: $main-blue;
}

.woocommerce div.product .product_title {
    clear: none;
    margin-top: 0;
    padding: 0;
    font-size: 3.75rem;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 0;
}

.woocommerce div.product form.cart .button {
    vertical-align: middle;
    float: left;
    width: 70%;
}

.woocommerce div.product p.price,.woocommerce div.product span.price {
    color: #333;
    font-size: 2.15em;
    font-weight: 800;
}

.woocommerce #respond input#submit.alt,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt {
    background-color: #085a78;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

p.copy--xs {
    font-size: .9em;
}

.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 0;
}

td.label {
    background-color: rgba(255,255,255,0);
    color: #fff;
}

ul.top-login-area li a {
    font-size: .9em;
    font-weight: 400;
}

ul.top-login-area li a i {
    font-size: 1.5em;
}

p.copy--xs {
    font-size: .9em;
    padding: 1em;
    padding-left: 0;
    border-top: 1px solid #ccc;
}

.woocommerce div.product .product_title {
    clear: none;
    margin-top: 0;
    padding: 0;
    font-size: 3.55rem;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 0;
}

.woocommerce div.product p.price,.woocommerce div.product span.price {
    color: #f04124;
/* font-size: 1.95em; */
    font-weight: 800;
/* float: left; */
/* top: 0; */
/* clear: both; */
}

.woocommerce .quantity .qty {
    width: 5em;
    text-align: center;
}

.variations_form {
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: #f2f2f2;
    color: #333;
}

.woocommerce div.product div.images img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 3px 1px rgba(0,0,0,0.3);
    border: 1px solid #999;
    border-radius: .2em;
}

.woocommerce div.product p.price,.woocommerce div.product span.price {
    color: #333;
    font-size: 2.65em;
    font-weight: 200;
}

.woocommerce div.product .woocommerce-tabs .panel {
    border-top: 10px solid #007095;
    margin: 0 0 2em;
    background: #fafafa;
    padding: 2em;
/* background: rgba(46, 204, 113, 0.55); */
/* border: 0; */
/* margin-top: -10px; */
/* overflow: hidden; */
    color: #666;
/* z-index: 9999999; */
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    display: inline-block;
    padding: .5em 0;
    font-weight: 400;
    color: #515151;
    text-decoration: none;
/* margin-top: 10px; */
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:after,.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
    border: 0;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    content: "";
}

.woocommerce div.product .woocommerce-tabs .panel {
    border-top: 10px solid #2098d1;
    margin: 0 0 2em;
    background: #fafafa;
    padding: 2em;
    color: #666;
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    border-top: 10px solid #2098d1;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
/* border: 1px solid #2098d1; */
    background-color: #ebe9eb;
    display: inline-block;
    position: relative;
    z-index: 0;
    border-radius: 0;
    margin: 0 -3px;
    padding: 0 1em;
}

ul.top-login-area li a i {
    font-size: 2em;
/* margin-left: 0.5em; */
}

ul.top-login-area li a {
    font-size: .8em;
    font-weight: 400;
/* padding: 1em; */
    margin-right: 1em;
}

ul.top-login-area li a i {
    font-size: 1.7em;
}

.main-content .row {
    margin: 0 auto;
    max-width: 85rem;
}

.woocommerce #respond input#submit,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button {
    font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    font-family: inherit;
    text-decoration: none;
    overflow: visible;
    padding: .618em 1em;
    font-weight: 400;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,0.5);
    left: auto;
    color: rgba(255,255,255,0.5);
    background-color: rgba(235,233,235,0);
    white-space: nowrap;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25sease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.woocommerce #respond input#submit:hover,.woocommerce a.button:hover,.woocommerce button.button:hover,.woocommerce input.button:hover {
    background-color: rgba(235,233,235,0);
    text-decoration: none;
    background-image: none;
    color: #fff;
    border-color: #fff;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25sease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.woocommerce .star-rating:before {
    content: "\73\73\73\73\73";
    color: #fff;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9999;
}

.product-details {
    display: block;
    overflow: hidden;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 100%;
		border: 0;

}

.woocommerce span.onsale {
    min-height: 2.236em;
    min-width: 3.136em;
    padding: .202em;
    font-weight: 300;
    position: absolute;
    text-align: center;
    line-height: 2.236;
    top: -.5em;
    left: -.5em;
/* display: block; */
/* width: 100%; */
/* height: auto; */
    box-shadow: 0 2px 3px 1px #333;
/* border: 1px solid #999; */
    border-radius: .2em;
    margin: 0;
    border-radius: 10%;
    background-color: #f04124;
    color: #fff;
    font-size: .857em;
    -webkit-font-smoothing: antialiased;
}

.woo-overlay {
    overflow: hidden;
}

.woocommerce ul.products li.product .price {
    color: #fff;
    display: block;
    font-weight: 300;
    margin-bottom: .5em;
    font-size: 1.457em;
    vertical-align: bottom;
    margin-top: 1em;
}

.star-rating:before {
    color: #fff !important;
}

.woocommerce ul.products li.product a img {
    margin-bottom: 0;
    display: block;
    width: 100%;
    height: auto;
    /*box-shadow: 0 2px 3px 1px rgba(0,0,0,0.3);*/
    border: 1px solid #999;
    border-radius: .2em;
    overflow: hidden;
}

.woocommerce div.product p.price,.woocommerce div.product span.price {
    color: #333;
    font-size: 2.25em;
    font-weight: 200;
    width: 60%;
}

#secondaryHeader {
    position: relative;
    display: block;
    height: 100px;
}

a.woocommerce-review-link {
    color: #008CBA;
    line-height: 4;
    font-size: 80%;
}

.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 0;
/* float: left; */
    position: absolute;
    right: 0;
    top: 0;
    text-align: left;
}

.woocommerce div.product .product_title {
    clear: none;
    margin-top: 0;
    padding: 0;
    font-size: 4.45rem;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 0;
}

.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 0;
/* position: absolute; */
/* right: 0; */
    margin-left: 1em;
/* top: 0; */
    text-align: left;
    float: left;
}

.woocommerce div.product p.price,.woocommerce div.product span.price {
    color: #333;
    clear: both;
    font-size: 1.75em;
    font-weight: 200;
    line-height: 1.25;
    text-align: left;
    width: 80%;
    padding: 0;
    margin-right: 1em;
    float: none;
}

.padding-listItem {
    border: 1px solid #e4e1e3;
    background: #fff;
    border-radius: 4px;
    padding: 1em 1em 0;
}

.single_variation {
    padding: 1em;
    font-size: 1.5em;
}

.sku_wrapper {
    display: none;
}

.posted_in {
    display: block;
}

.tagged_as {
    display: block;
}

.woocommerce ul.products li.product h3 {
    padding: .2em;
    margin: 0;
    font-size: 1.9em;
    color: #333;
    font-weight: 200;
    text-align: center;
}

.woocommerce.product-columns-3 ul.products li.product,.woocommerce-page.product-columns-3 ul.products li.product {
    margin-bottom: 5em;
}

.woocommerce div.product div.images img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.6);
    border: 1px solid #999;
    border-radius: .2em;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
    /* float: left; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #d3ced2;
    padding: 1em;
    margin-left: auto;
    margin-right: AUTO;
    outline: 0;
    TEXT-ALIGN: CENTER;
    line-height: 1;
    width: 100%;
    font-size: 2em;
}

.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
    float: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
input[type="checkbox"]+label, input[type="radio"]+label {
    display: inline-block;
    margin-left: 1.5rem;
    margin-right: 1rem;
    margin-bottom: 0;
    vertical-align: baseline;
}

.woocommerce-cart .cart-collaterals .cart_totals table {
    /* border-collapse: separate; */
    /* margin: 0 0 6px; */
    padding: 1em;
    width: 80%;
    margin-bottom: 0;
    /* border-left: 0; */
}
.wc-tabs-wrapper {    width: 50%;}

input[type="number"], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.75);
    display: block;
    font-family: inherit;
    font-size: 0.875rem;
    height: 3.5125rem;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color 0.15s linear,background 0.15s linear;
    -moz-transition: border-color 0.15s linear,background 0.15s linear;
    -ms-transition: border-color 0.15s linear,background 0.15s linear;
    -o-transition: border-color 0.15s linear,background 0.15s linear;
    transition: border-color 0.15s linear,background 0.15s linear;
}

.woocommerce div.product form.cart .variations label {
    font-weight: 700;
    font-size: 150%;
    line-height: 4;
}

.woocommerce div.product form.cart .variations select {
    width: 80%;
    float: left;
    font-size: 100%;
    /* padding: 1em; */
    height: 3em;
}

a.woocommerce-review-link {
    color: #008CBA;
    /* line-height: 4; */
    /* font-size: 80%; */
    float: right;
    margin-right: 1em;
}

ul.top-login-area li a {
    color: #085a78;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25sease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.woocommerce span.onsale {
    min-height: 2.236em;
    min-width: 3.136em;
    padding: .202em;
    font-weight: 300;
    position: absolute;
    text-align: center;
    line-height: 2.236;
    top: -.5em;
    left: -.5em;
    box-shadow: 0 2px 3px 1px #000;
    border-radius: .2em;
    margin: 0;
    border-radius: 10%;
    background-color: #085a78;
    color: #fff;
    font-size: .857em;
    -webkit-font-smoothing: antialiased;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #085a78;
    /* clear: both; */
    float: right;
    font-size: 1.55em;
    font-weight: 200;
    line-height: 1.25;
    text-align: left;
    width: 100%;
    padding: 0;
    margin-right: 1em;
    float: none;
    text-decoration: none !important;
}

.woocommerce div.product p.price ins, .woocommerce div.product span.price ins {
    text-decoration: none !important;
    background: inherit;
    font-weight: 800;
}

 
.woocommerce ul.products li.product .button {
    margin-top: 3em;
    width: 80%;
   font-size:150%;
}


.woocommerce ul.products li.product a img {
    margin-bottom: 0;
    display: block;
    width: 100%;
    height: auto;
    /* box-shadow: 0 2px 3px 1px rgba(0,0,0,0.3); */
    /* border: 1px solid #999; */
    border-radius: 0;
    overflow: hidden; 
    /* border: 0; */
	border: 0;
}

.woocommerce ul.products li.product h3 {
    background: #085a78;
}

.woocommerce ul.products li.product h3 {
    padding: .2em;
    margin: 0;
    font-size: 1.9em;
    color: #FFF;
    font-weight: 300;
    text-align: center;
}

.woocommerce ul.products li.product .price ins {
    background: 0 0;
    font-weight: 700;
    text-decoration: none;
}

.woocommerce ul.products li.product .price del {
    color: inherit;
    opacity: 0.6;
    display: block;
    font-size: 0.8em;
}

.term-description {
	    border-bottom: 1px solid #2ecc71;
    margin-bottom: 3em;
}




@media only screen and (max-width: 40em) { 
	.add-to-cart-button {
		font-size: 60%;
	}
	.woocommerce ul.products li.product h3 {
		font-size: 1em;
	}
	.woocommerce ul.products li.product .button {
    margin-top: 2em;
	}
	.woocommerce.product-columns-3 ul.products li.product, .woocommerce-page.product-columns-3 ul.products li.product {
    margin-bottom: 8em;
	}
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		width: 47% !important;
	}
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

@media only screen and (min-width: 40.063em) { 
	.add-to-cart-button {
		font-size: 60%;
	}
	.woocommerce ul.products li.product h3 {
		font-size: 1.2em;
	}
	.woocommerce ul.products li.product .button {
    margin-top: 2em;
	}
	.woocommerce.product-columns-3 ul.products li.product, .woocommerce-page.product-columns-3 ul.products li.product {
    margin-bottom: 8em;
	}
} /* min-width 641px, medium screens */

@media only screen and (min-width: 64.063em) { 
	.woocommerce ul.products li.product h3 {
		font-size: 1.6em;
	}
	.add-to-cart-button {
		font-size: 60%;
	}
	.woocommerce ul.products li.product .button {
		margin-top: 2em;
	}

} /* min-width 1025px, large screens */
